.container_principal {
    width: 100%;
    min-height: 100vh;
    padding: 100px 20px;
}

.subtitulo {
    text-align: center;
    padding-bottom: 40px;
}

.container_cards {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.cards {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    box-shadow: 2px 2px 15px 2px #D9DDE1;
}

.cards:hover {
  box-shadow: 2px 2px 20px 4px #cfd3d8;
  transform: scale(1.04);
  transition: all 0.3s ease;
}

.imagem {
    width: 100%;
    height: 100%; 
}

.cards h3 {
    font-size: 18px;
}

.cards p {
    font-size: 16px;
}