.container_banner {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.banner_img {
    width: 100%;
    height: 100vh;
    background-image: url(../../../public/banner-home.png);
    background-color: var(--cor-de-fundo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;      
}

.banner_titulo {
    font-size: 100px;
    color: var(--texto-claro);
    text-transform: uppercase;
    text-shadow: 3px 5px 2px var(--sombra);
} 